body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.products {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.product {
  border: 1px solid #ccc;
  padding: 10px;
  width: 200px;
  border-radius: 10px;
}

.btn {
  background-color: #000;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.cartCount {
  background-color: #000;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 100;

  background-color: dodgerblue;

  padding: 0 16px;
  color: white !important;
}

.main {
  padding: 10px;
}

.flex {
  display: flex;
  align-items: center;
  gap: 10px;
}

a {
  text-decoration: none;
  color: #000;
}
