.flex {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.gap-1 {
  gap: 0.5rem;
}

.gap-2 {
  gap: 1rem;
}

.gap-3 {
  gap: 1.5rem;
}

.gap-4 {
  gap: 2rem;
}

.gap-5 {
  gap: 2.5rem;
}

.flex-row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 1rem;
}

.border-1 {
  border: 1px solid #a6a2a2;
  border-radius: 0.5rem;
}

.border-2 {
  border: 2px solid #eee;
  border-radius: 0.5rem;
}

.border-3 {
  border: 3px solid #eee;
  border-radius: 0.5rem;
}

.button {
  padding: 0.5rem;
  border-radius: 0.5rem;

  border: 1px solid #000000b3;
  display: block;
  width: 200px;
  cursor: pointer;

  background-color: #000000dd;
  color: #fff;
}

.button:hover {
  background-color: #000000b3;
  color: #fff;
}
