html,
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;

  font-size: 16px;

  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--light-color);
}

input {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--secondary-color);
  display: block;
  width: 100%;
  margin-bottom: 1rem;

  width: 300px;
}

button {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--secondary-color);
  display: block;
  width: 200px;

  cursor: pointer;
}

main {
  padding: 16px;
}

:root {
  --primary-color: #1a1b26;
  --secondary-color: #7f8caa;
  --tertiary-color: #b8cfce;
  --light-color: #eaeefe;
  --dark-color: #333446;
}
