.tableContainer {
  height: 70vh;
  overflow-y: scroll;
  border: 1px solid #ddd;
}

.productsTable {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.productsTable th,
.productsTable td {
  border: 1px solid #ddd;
  padding: 8px;
}

.productsTable img {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 10%;
}

.pagination {
  display: flex;
  gap: 16px;
  margin-top: 16px;
  justify-content: center;
}

.pagination button {
  width: 30px;
  aspect-ratio: 1;
}
