div {
  border: 2px solid black;
}

.first,
.second {
  height: auto;
  width: 300px;
  aspect-ratio: 1;
}

.first {
  background-color: dodgerblue;
  position: relative;
  left: 100px;
  top: 100px;
  right: 100px;

  /* hide the element */
  display: none;
}

.second-cc {
  width: 600px;
  height: auto;
  aspect-ratio: 1;
  background-color: chocolate;
  display: flex;
  justify-content: center;
  align-items: center;

  /* position: relative; */

  margin-top: 100px;
}
.second-container {
  width: 500px;
  height: 500px;
  background-color: cadetblue;

  position: relative;
}

.second {
  background-color: tomato;

  position: absolute;
  top: 10px;
}
